.container {
  width: 575px;
  margin: 0 auto;
  height: 680px;
  background-color: #e6d7f1;
  padding-left: 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgba(122, 122, 122, 0.5);;
}
#height,
#weight {
  width: 150px;
  height: 25px;
  margin-top: 30px;
}

#weight-guide {
  margin-left: 75px;
  margin-top: 25px;
}

#results {
  font-size: 35px;
  margin-left: 80px;
  margin-top: 20px;
  color: rgb(241, 241, 241);
}

button {
  width: 150px;
  height: 35px;
  margin-left: 90px;
  margin-top: 25px;
  background-color: #fff;
  padding: 1px 20px;
  border-radius: 8px;
  color: #414141;
  text-decoration: none;

  font-size: 25px;
}
button:hover{
    cursor: pointer;
    background-color: rgb(194, 196, 197);
}

h1 {
  position: absolute;
  left: 630px;
  top: 100px;
  
  
  
}
form{
  position: absolute;
  left: 600px;
  top: 200px;
  
}
#orange{
  color: rgb(230, 97, 52);
}
#green{
  color: rgb(4, 196, 4);
}
#red{
  color: red;
}
