    body {
      height: 100vh; /* full screen height */
      display: flex;
      justify-content: center; /* horizontal center */
      align-items: center;     /* vertical center */
      background: #212121;
    }
    button {
      padding: 12px 24px;
      font-size: 18px;
      border: none;
      border-radius: 8px;
      background: orange;
      color: white;
      cursor: pointer;
    }

    button:hover{
      background: rgb(249, 174, 36)
    }

    #stop{
        margin-left: 10px;
    }