*{
    padding: 0;
    margin : 0;
}
body {
    /* box-sizing: border-box; */
    margin: 0;
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center;     
}

.app {
  width: 500px;
  height: 500px;
  background: #f8e2e2; 
  padding: 20px;
  border-radius: 10px;
}
.class {
    /* border:rgb(49, 49, 49) solid 2px; */
    border-radius: 4rem;
    display: flex;
    width: 90%;
    height: 100px;
    margin: 20px;
    align-items: center;
    /* padding-left: 125px; */
    
}
.text{
    display: flex;
    width: 400px;
    margin: auto 0;
    padding-left: 60px;
}
span.class {
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: large;
}
#blue{
    background-color: blue;
}
#green{
    background-color: green;
}
#red{
    background-color: red;
}
#yellow{
    background-color: rgb(255, 255, 78);
    color:black;
}
